<%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/navbar.ejs') %>
    <h1>Create a New Blog Post</h1>
    <form>
      <label for="title">Title:</label>
      <input type="text" name="title" required>
      <label for="body">Blog Post:</label>
      <textarea name="body" required></textarea>
      <button>Submit</button>
    </form>
</body>
</html>
