<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>SimpleNodeBlog</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="icon" href="favicon.png">
</head>
<body>
  <h1>SimpleNodeBlog</h1>
  <ul>
      <li><a href="/">Blogs</a></li>
      <li><a href="/create">Create New Post</a></li>
  </ul>
  <h1>Blog Newsfeed</h1>
    <% if (blogData.length > 0) { %>
      <% blogData.forEach(blog => { %>
      <h4><a href='/'><%= blog.title %></a></h4>
      <% }) %>  
    <% } else{ %>
      <h4>No Blogs to Read Yet!</h4>
    <% } %>
</body>
</html>
